<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<update id="update" parameterType="com.example.boot11.dto.UserDto">
	   update user_tbl
	   set email=#{email} <if test="profile != null">,profile=#{profile}</if>
	   where userName=#{userName}
	</update>

	<update id="updatePwd" parameterType="com.example.boot11.dto.UserDto">
		update user_tbl
		set password=#{newPassword}
		where userName=#{userName}
	</update>

	<insert id="insert" parameterType="com.example.boot11.dto.UserDto">
		insert into user_tbl
		(id, userName, password, email, role, regdate)
		values(user_seq.NEXTVAL, #{userName}, #{password}, #{email}, #{role}, SYSDATE)
	</insert>


	<select id="getData" parameterType="string" resultType="com.example.boot11.dto.UserDto">
		SELECT id, userName, password, email, role, profile, regdate
		FROM user_tbl
		WHERE userName=#{userName}
	</select>

</mapper>